/* ThemeSwitcher.css */

.theme-switcher {
    display: flex;
    align-items: center;
    font-size: 1.5rem; /* Ajuste o tamanho dos ícones conforme necessário */
  }
  
  .switch-icon {
    margin: 0 10px;
  }
  
  .react-switch {
    margin: 0 10px;
  }
  
  .react-switch .react-switch-handle {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
  }
  